.picture-container img {
  border-radius: 50%;
}

.profile-container {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  height: 60vh;
  margin-bottom: 100px;
}

.picture-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.introduction-container {
  align-self: center;
  text-align: center;
}

.introduction-container p {
  font-weight: 600;
}

.introduction-container h1 {
  font-size: 3rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 10px;
}

.button-container a {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.6rem;
  width: 10rem;
  border-radius: 2rem;
}

#download-button,
#contact-button {
  border: rgb(53, 53, 53) 0.1rem solid;
}

#download-button:hover,
#contact-button:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
}
