.list-container {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 2rem;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rbg(181, 181, 181);
}
